* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    outline: 3px solid #087f5b;
}

.toolbox{
    display: flex;
    background-color: #087f5b;
    border: 1px solid #087f5b;
    opacity: 75%;
    width: 904px;
    padding: .5rem;
}

.toolbox > * {
    display: inline-flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 2rem;
    height: 30px;
    width: 30px;
    margin: .25rem;
    padding: .25rem;

}

.toolbox > *:last-child {
    margin-left: auto;
}
